h1 {
    color: steelblue;
    text-align: center;
}
p2{
  color: rgb(27, 74, 112);
  text-align: center;
  font-size: 100%;
}
p3{
  color: rgb(27, 74, 112);
  text-align: center;
  font-size: 100%;
}
p4{
color: rgb(27, 74, 112);
text-align: center;
font-size: 100%;

}
.photos1{
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  image-orientation: center;
  background-color: #c5d5e6;
}
.photos2{
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  image-orientation: center;
  background-color: #c5d5e6;

}
.photos3{
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  image-orientation: center;
  background-color: #c5d5e6;

}
*{
    margin: 0;
    padding: 0;
  }
  body{
    min-height: 100vh;
    background-color: azure;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  nav{
    background-color: rgb(227, 245, 255);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  nav li{
    height: 50px;
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
  }
  nav a:hover{
    background-color: #6087b0;
  }
  /*nav li:first-child{
    margin-right: auto;
  }*/
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999; 
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }